---
const title = '{{displayName}}';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <h1>{title}</h1>
      <p>Astro starter site for {{projectName}}.</p>
    </main>
  </body>
</html>
